<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Dochome.css">
    <title>Doctor page</title>
</head>
<body>
    <h1>Hey Doctor</h1>
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>ID</th>
          <th>Email</th>
        </tr>
        <% if(data.length){
 
          for(var i = 0; i< data.length; i++) {%>  
          <tr>
            <td><%= data[i].firstname%></td>
            <td><%= data[i].lastname%></td>
            <td><%= data[i].id%></td>
            <td><%= data[i].email%></td>
          </tr>
          <% }
                   
           }else{ %>
               <tr>
                  <td colspan="4">No user</td>
               </tr>
            <% } %>            
      </table>
</body>
</html>