<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log_in.css">
    <title>Edit doctor Specialty</title>
</head>
<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
            </ul>
        </div>
    </nav>


<div class="login-block">
    <h1>Edit Speciality</h1>
    <form action="/EditDoctor" method="POST">
    <input name="id" type="text" value="" placeholder="ID" id="Id" />
    <input name="Specialist" type="text" value="" placeholder="Speciality"/>
    <button type="submit">Edit</button>
    <h3> NOTE: Changing the specialty will require you to log back in .</h3>
</form>
</div>
</body>
</html>