 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/c9ae045cce1fc0846b12752f20ad9d5d5d911c924d2acc794964cad13214688d9b0b52a982a3e53c31db8767f6159c3f804645d507594023fce715_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 87px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#f2f2f2, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 594px;
}

.u-section-2 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 197px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 33px 3px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 33px 3px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 33px 3px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 33px 3px 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 0;
  margin: 61px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 19px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-2 .u-text-7 {
  width: 570px;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 162px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 123px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 123px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 123px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 123px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: -217px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 496px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-7 {
    margin-bottom: -147px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    width: 540px;
    margin-bottom: -77px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
    margin-bottom: -7px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #77aad9);
}

.u-section-3 .u-sheet-1 {
  min-height: 736px;
}

.u-section-3 .u-group-1 {
  width: 946px;
  min-height: 545px;
  background-image: linear-gradient(#c0c0c0, #77aad9);
  height: auto;
  margin: 65px auto 60px 57px;
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 30px 75px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 10px 345px 0 auto;
}

.u-section-3 .u-form-1 {
  height: 255px;
  width: 866px;
  margin: 10px auto 0;
}

.u-section-3 .u-form-group-1 {
  margin-left: auto;
}

.u-section-3 .u-form-group-2 {
  margin-left: auto;
}

.u-section-3 .u-form-group-3 {
  margin-left: auto;
}

.u-section-3 .u-form-group-4 {
  margin-left: auto;
}

.u-section-3 .u-form-group-5 {
  margin-left: auto;
}

.u-section-3 .u-btn-1 {
  margin-left: auto;
  width: 100%;
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 257px;
  }

  .u-section-3 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 202px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 124px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}