<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log_in.css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Sign-Up.html">Sign Up</a></li>
            </ul>
        </div>
    </nav>

<div class="login-block">
    <h1>Login</h1>
    <form action="/Log-In" method="POST">
    <input name="id" type="number" value="" placeholder="ID" id="Id" />
    <input name="Password" type="password" value="" placeholder="Password" id="password" />
    <button type="submit">Log In</button>
    <br><br>
</form>
<a href="ForgotPW.html"><button>Forget Password</button></a>
</div>
</body>
</html>