body {
    background: url("images/Doc.jpg") no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
    margin: 0;
}
.h3{
    background-color: red;
}


.login-block {
    width: 320px;
    padding: 100px;
    background: #fff;
    border-radius: 10px;
    border-top: 5px solid #ff656c;
    margin: 0 auto ;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}
.login-block select{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
  }
.login-block input#Id {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#Id:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}
.Login-block input#passw{
    background: #fff;
    background-size: 16px 80px;
}
.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#e15960;
    color: black;
    margin: 0 0 100px 0;
}
.navlinks ul{
    margin: 0px;
    padding:0px;
    display: flex;
}
.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
}
.navlinks ul li a:hover{
    background-color: #555;  
}
@media (max-width: 400px){

    .navlinks{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction:column;
        align-items: flex-start;
    }
    .navlinks ul{
        width: 100%;
        flex-direction: column;
    }
    .navlinks ul li{
        text-align: center;
    }
    .navlinks ul li a{
        padding: .8rem 1.5rem;
    }
    .navlinks.active{
        display: flex;
    }
}