<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Patient.css">
    <title>Document</title>
</head>
<body>
    <div id="resume">
        
        <h1>James Moriarty</h1>
        <p>Phone: <a href=#>555-666-7777</a>
        <p>ID: <a href=#>moriarty.com</a>
        <p>Email: <a href=#>napoleon@crime.com</a>
        <p id="objective">I am a reserved but ambitious young professional seeking a career that fits my professional skills, personality, and murderous tendencies. My good birth, excellent education and phenomenal mathematical faculty have allowed me to advance the prospects of several criminal enterprises.
      <dl>
        <dt>Education
        <dd>
          <h2>Oxford University</h2>
          <p><strong>Major:</strong> Applied Mathematics<br/>
          <strong>Minor:</strong> Romance Languages</p>
      </dl>
      <dl>
      <dt>Skills
      <dd>
      <h2>Office Skills</h2>
      <p>Office and records management, database administration, event organization, customer support, travel coordination
      <h2>Computer skills</h2>
      <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows
      </dl>
      <dl>
      <dt>Experience
      <dd>
      <h2>Consulting Criminal<span>London 1892 – present</span></h2>
      <ul>
      <li>Development within the criminal underworld
      <li>Conducted negotiations with several rogue governments
      </ul>
      <h2>The Coldstream Guards<span>Army Coach, London 1889 – 1888</span></h2>
      <ul>
      <li>Recruiting, training and terrorizing young men.
      </ul>
      <h2>Oxford University<span>Professor of Mathematics 1885 – 1888</span></h2>
      <ul>
      <li>Published papers in binomials, asteroid dynamics and game theory
      <li>Intimidated students
      </ul>
      </dd>
      </dl>
      <dl>
      <dt>Hobbies
      <dd>World domination, Social Manipulation, Murder Most Foul
      </dl>
      <dl>
      <dt>References
      <dd>Available on request
      </dl>
      </div>
</body>
</html>