* {
  box-sizing: border-box
}

  
  body {
    background-color: #5c5a52;
    margin: 0px;
    padding: 0;
    
  }
    

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  background: #999955;
  background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  height: 150px;
}

#gradient:after {
  content: "";
  position: absolute;
  background: #E9E2D0;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -270px;
  padding-left: 20px;
  border-radius: 5px;
  width: 520px;
  height: 275px;
  z-index: -1;
}

#card {
  position: absolute;
  width: 450px;
  height: 225px;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 0;
  left: 50%;
  top: 67.5px;
  margin-left: -250px;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#card img {
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  filter: sepia(1);
}

#card h2 {
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
}

#card p {
  font-family: courier;
  color: #555;
  font-size: 13px;
}

#card span {
  font-family: courier;
}
  

  
  
  div#resume {
    min-width: 310px;
    font: 16px Helvetica, Avernir, sans-serif;
    line-height: 24px;
    color: #000
  }
  
  div#resume h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
    line-height: 50px
  }
  .wrapper2{
    position: relative;
    left: 300px;
    width: 80%;
    height: 20vw;
    padding: 0 auto;
}

  .wrapper1{
    position: relative;
    left: 300px;
    width: 80%;
    padding: 0 auto;
}

  .wrapper{
    position: relative;
    left: 300px;
    width: 80%;
    padding: 0 auto;
}

  
  div#resume h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative
  }
  
  div#resume h2 span {
    position: static;
    display: block;
    margin-top: 2px
  }
  


  div#resume p.objective {
    font-family: Georgia, serif;
    font-style: italic;
    color: #666
  }
  
  div#resume dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    border-right: 1px solid #999
  }
  
  div#resume dl {
    display: table-row
  }
  
  div#resume dl dt,
  div#resume dl dd {
    display: table-cell;
    padding-bottom: 20px
  }
  
  div#resume dl dd {
    width: 500px;
    padding-left: 26px
  }
  select{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding-top: 0 20px 0 50px;
    outline: none;
  }
  button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #ff7b81;
}
input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Montserrat;
  padding: 0 20px 0 50px;
  outline: none;
}
  
  @media screen and (max-width:1100px) {
    div#resume h2 span {
      position: static;
      display: block;
      margin-top: 2px
    }
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#444669;
    color: black;
    margin: 0 0 100px 0;
}
.navlinks ul{
  margin: 0px;
  padding:0px;
  display: flex;
}
.navlinks ul li{
  list-style: none;
}
.navlinks ul li a{
  text-decoration: none;
  color:rgb(255, 255, 255);
  padding: 1rem;
  display: block;
}
.navlinks ul li a:hover{
  background-color: #555;  
}
@media (max-width: 400px){

  .navlinks{
      display: none;
      width: 100%;
  }
  .navbar{
      flex-direction:column;
      align-items: flex-start;
  }
  .navlinks ul{
      width: 100%;
      flex-direction: column;
  }
  .navlinks ul li{
      text-align: center;
  }
  .navlinks ul li a{
      padding: .8rem 1.5rem;
  }
  .navlinks.active{
      display: flex;
  }
}

