<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log_in.css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Log-In.html">Log In</a></li>
            </ul>
        </div>
    </nav>

<div class="login-block">
    <h1>Sign Up</h1>
    <form action="/Sign-Up" method="POST">
    <select name="role" id="id">
                  <option value="Doctor">Doctor</option>
                  <option value="Patient">Patient</option>
                  <option value="Examinator">Examinator</option>
    </select>
    <input name="Fname" type="text" value="" placeholder="First Name" id="username" />
    <input name="Lname" type="text" value="" placeholder="Last Name" id="username" />
    <input name="id" type="number" value="" placeholder="ID" id="username" />
    <input name="password" type="password" value="" placeholder="Password" id="passw" />
    <input name="pasword" type="password" value="" placeholder="Password confirmation" id="passw" />
    <input name="email" type="email" value="" placeholder="Email" id="username" />
    <button type="submit">Register</button>
    </form>
</div>
</body>
</html>