<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log_in.css">
    <title>Register</title>
</head>
<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Log-In">Log In</a></li>
            </ul>
        </div>
    </nav>

<div class="login-block">
    <h1>Sign Up</h1>
        
        <button type="button" name ="Doctor" ><a href="Sign-Up_As_Doctor">Doctor</a></button>
    <br>
    <br>
        <button type="button" name="Patient"><a href="Sign-Up_As_Patient">As Patient</a></button>
    <br>
    <br>
        <button type="button" name="Examinator"><a href="Sign-Up_As_Examinator">As Examinator</a></button>
</div>
</body>
</html>